@font-face {
  font-family: "TajawalRegular";
  src: url("../fonts/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TajawalMedium";
  src: url("../fonts/Tajawal-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TajawalBold";
  src: url("../fonts/Tajawal-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TajawalExtraBold";
  src: url("../fonts/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TajawalLight";
  src: url("../fonts/Tajawal-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  padding-bottom: 0;
  margin: 0;
}

body {
  font-family: "TajawalMedium", sans-serif;
  background-color: #212022;
  color: #fff;
  height: 1000000px;
  font-size: 18px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #454446;
}

.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 767px) {
  .container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.main__navbar {
  background-color: #212022;
  padding: 0.5rem 0;
}

.main__navbar__nav__list--item {
  font-size: 18px;
  margin-bottom: 0;
}

.main__navbar__nav__list--item a {
  padding-bottom: 0;
}

.main__navbar__nav__list--item:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 991px) {
  .main__navbar__nav__list--item:not(:last-child) {
    margin-right: 0;
  }
}

.main__navbar__nav__list--item:last-child {
  background-color: #454446;
  border-radius: 0px 7px;
}

@media (max-width: 991px) {
  .main__navbar__nav__list--item:last-child {
    padding: 5px;
  }
}

.main__masthead {
  min-height: 500px;
}

@media (min-width: 991px) {
  .main__masthead {
    height: 90.1vh;
  }
}

.main__masthead--title {
  font-family: "TajawalExtraBold";
  font-size: 48px;
}

@media (max-width: 991px) {
  .main__masthead--title {
    font-size: 35px;
    margin-top: 100px;
  }
}

.main__masthead--text {
  color: #f4f6fb;
  font-family: "TajawalRegular";
}

.main__masthead--btn {
  background-color: #ffc700;
  border-radius: 0px 7px;
  color: #212022;
  border: 0;
  font-family: "TajawalBold";
  padding: 10px 20px 5px;
}

.main__masthead--btn:focus {
  outline: none;
}

@media (max-width: 991px) {
  .main__masthead--img {
    width: 100%;
    margin: 50px auto 0;
  }
}

.main__sponsers--title {
  color: #444957;
}

.main__features {
  background-color: #1e1d1f;
  padding: 100px 0;
}

.main__features__item {
  padding: 0 20px;
}

.main__features__item--text {
  text-align: justify;
  margin-top: 20px;
  font-family: "TajawalRegular";
}

.main__services {
  background-color: #1e1d1f;
}

.main__services--title {
  font-size: 36px;
  margin-bottom: 50px;
  font-family: "TajawalBold";
}

.main__services .col-md-4 {
  padding: 0 20px !important;
}

.main__services__item {
  padding: 50px 30px;
  background-color: #242528;
  min-height: 411px;
  max-height: auto;
}

.main__services__item--title {
  font-size: 24px;
  font-family: "TajawalBold";
  margin-bottom: 10px;
}

.main__services__item--text {
  text-align: justify;
  font-family: "TajawalRegular";
}

.main__services__item--img {
  width: 100%;
}

.main__services__item--btn {
  background-color: #5c5e64;
  border-radius: 0px 7px;
  color: #fff;
  border: 0;
  font-family: "TajawalBold";
  padding: 10px 20px 5px;
}

.main__services__item--btn:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */