@font-face {
  font-family: "TajawalRegular";
  src: url("../fonts/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TajawalMedium";
  src: url("../fonts/Tajawal-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TajawalBold";
  src: url("../fonts/Tajawal-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TajawalExtraBold";
  src: url("../fonts/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TajawalLight";
  src: url("../fonts/Tajawal-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  padding-bottom: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "TajawalMedium", sans-serif;
  background-color: #212022;
  color: #fff;
  font-size: 18px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #454446;
}

.modal__header--close {
  color: #ffc700;
  background-color: transparent;
  border: 0;
  position: relative;
  top: -17px;
  font-size: 40px;
}

.modal__header--close:focus {
  outline: none;
}

.modal__header--title {
  font-family: "TajawalBold";
  font-size: 24px;
}

.modal__body__form__formGroup--label {
  font-family: "TajawalBold";
  margin-bottom: 0;
}

.modal__body__form__formGroup--input {
  background-color: transparent;
  border-radius: 0px 7px;
  border: 1px solid #575658;
  color: #fff;
  padding: 5px 10px;
  width: 100%;
}

.modal__body__form__formGroup--input:focus {
  outline: none;
}

.modal__body__form__formGroup--btn {
  background-color: #ffc700;
  border-radius: 0px 7px;
  color: #212022;
  border: 0;
  width: 100%;
  font-family: "TajawalBold";
  padding: 10px 20px 5px;
}

.modal__body__form__formGroup--btn:focus {
  outline: none;
}

.modal .modal-content {
  border-radius: 0 20px;
  background-color: #000;
}

.animate-bottom {
  position: relative;
  -webkit-animation: animatebottom 0.4s;
          animation: animatebottom 0.4s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 767px) {
  .container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.main__topbar {
  background-color: #1e1d1f;
  padding: 0.5rem 0;
}

.main__topbar .dropdown-toggle::after {
  position: relative;
  top: 2px;
}

.main__topbar .dropdown-menu {
  background-color: #000;
  border-radius: 0 20px;
}

.main__topbar .dropdown-item {
  color: #fff;
}

.main__topbar .dropdown-item:focus, .main__topbar .dropdown-item:hover {
  text-decoration: none;
  background-color: #212022;
}

.main__topbar--btn {
  background-color: transparent;
  color: #fff;
  border: 0;
  padding-top: 5px;
}

.main__topbar--btn:focus {
  outline: none;
}

.main__navbar {
  background-color: #212022;
  padding: 0.5rem 0;
}

.main__navbar__nav__list--item {
  font-size: 18px;
  margin-bottom: 0;
}

.main__navbar__nav__list--item a {
  padding-bottom: 0;
}

.main__navbar__nav__list--item:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 991px) {
  .main__navbar__nav__list--item:not(:last-child) {
    margin-right: 0;
  }
}

.main__navbar__nav__list--item:last-child {
  background-color: #454446;
  border-radius: 0px 7px;
}

@media (max-width: 991px) {
  .main__navbar__nav__list--item:last-child {
    padding: 5px;
  }
}

.main__masthead {
  min-height: 500px;
}

@media (min-width: 991px) {
  .main__masthead {
    height: 90.1vh;
  }
}

.main__masthead--title {
  font-family: "TajawalExtraBold";
  font-size: 48px;
}

@media (max-width: 991px) {
  .main__masthead--title {
    font-size: 35px;
    margin-top: 100px;
  }
}

.main__masthead--text {
  color: #f4f6fb;
  font-family: "TajawalRegular";
}

.main__masthead--btn {
  background-color: #ffc700;
  border-radius: 0px 7px;
  color: #212022;
  border: 0;
  font-family: "TajawalBold";
  padding: 10px 20px 5px;
}

.main__masthead--btn:focus {
  outline: none;
}

@media (max-width: 991px) {
  .main__masthead--img {
    width: 100%;
    margin: 50px auto 0;
  }
}

.main__sponsers--title {
  color: #444957;
}

.main__features {
  background-color: #1e1d1f;
  padding: 100px 0;
}

.main__features__item {
  padding: 0 20px;
}

.main__features__item--text {
  text-align: justify;
  margin-top: 20px;
  font-family: "TajawalRegular";
}

.main__services {
  background-color: #1e1d1f;
  padding-bottom: 100px;
}

.main__services--title {
  font-size: 36px;
  margin-bottom: 50px;
  font-family: "TajawalBold";
}

.main__services__item {
  padding: 50px 30px;
  background-color: #242528;
  min-height: 411px;
}

.main__services__item--title {
  font-size: 24px;
  font-family: "TajawalBold";
  margin-bottom: 10px;
}

.main__services__item--text {
  text-align: justify;
  font-family: "TajawalRegular";
}

.main__services__item--img {
  width: 100%;
}

.main__services__item--btn {
  background-color: #5c5e64;
  border-radius: 0px 7px;
  color: #fff;
  border: 0;
  font-family: "TajawalBold";
  padding: 10px 20px 5px;
}

.main__services__item--btn:focus {
  outline: none;
}

.main__aboutUs {
  padding: 100px 0;
}

.main__aboutUs--mainTitle {
  color: #ffc700;
  font-size: 36px;
  font-family: "TajawalExtraBold";
}

.main__aboutUs--title {
  font-family: "TajawalBold";
  font-size: 24px;
}

.main__aboutUs--text {
  text-align: justify;
}

.main__aboutUs--img {
  background-color: #29282a;
  padding: 50px;
}

@media (max-width: 991px) {
  .main__aboutUs--img {
    width: 100%;
    margin: 5px auto 50px;
  }
}

.main__resources {
  padding: 100px 0;
  background-color: #1e1d1f;
}

.main__resources--mainTitle {
  color: #ffc700;
  font-size: 36px;
  font-family: "TajawalExtraBold";
}

.main__resources__item {
  padding: 50px 30px;
  background-color: #242528;
}

.main__resources__item--title {
  font-size: 24px;
  font-family: "TajawalBold";
}

.main__resources__item--text {
  text-align: justify;
}

.main__faq {
  padding: 100px 0;
}

.main__faq--mainTitle {
  color: #ffc700;
  font-size: 36px;
  font-family: "TajawalExtraBold";
  margin-bottom: 50px;
}

.main__faq .panel-group .panel {
  background-color: #393b40;
  border-radius: 0 7px;
  -webkit-box-shadow: 0px 3px 20px 0px #0000001a;
          box-shadow: 0px 3px 20px 0px #0000001a;
  margin-bottom: 15px;
}

.main__faq .panel-title {
  font-size: 14px;
  margin-bottom: 0;
}

.main__faq .panel-title > a {
  color: #ffc700;
  display: block;
  padding: 25px 45px 16px 15px;
  font-family: "TajawalBold";
  font-size: 24px;
  text-decoration: none;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.main__faq .panel-title > a:not(.collapsed) {
  background-image: url(../images/minus.svg);
}

.main__faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding: 0px 15px 16px;
}

.main__contact {
  padding: 0 0 200px;
}

.main__contact--text {
  font-size: 18px;
}

.main__contact--btn {
  background-color: #ffc700;
  border-radius: 0px 7px;
  color: #212022;
  border: 0;
  font-family: "TajawalBold";
  padding: 10px 20px 5px;
}

.main__contact--btn:focus {
  outline: none;
}

.main__footer {
  background-color: #1e1d1f;
  padding: 50px 0 20px;
}

.main__footer__links li {
  list-style: none;
  margin-bottom: 10px;
}

.main__footer__links--link {
  color: #fff;
}

.main__footer__buttons--button {
  border: 2px solid #ffc700;
  border-radius: 0 7px;
  background-color: transparent;
  color: #fff;
  font-family: "TajawalBold";
  padding: 7px 25px 3px;
  -webkit-filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.1));
}

.main__footer__buttons--button:focus {
  outline: none;
}

.main__footer hr {
  border-top: 1px solid #353535;
}

.main__footer--copyrights {
  color: #726d77;
}

.main__footer--contactUs p {
  color: #726d77;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
/*# sourceMappingURL=style.css.map */